@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply text-slate-900;
  }

  h1, h2, h3, h4 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    @apply tracking-tight;
  }
}